* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  font-family: "New Amsterdam", "Black Han Sans", sans-serif;
}

body {
  background-color: black;
}

input,
textarea,
select {
  outline: none !important;
}

button {
  cursor: pointer;
  user-select: none;
}
