@import url("https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&family=Noto+Sans+KR:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  font-family: "New Amsterdam", sans-serif;
}

body {
  background-color: black;
}

input,
textarea,
select {
  outline: none !important;
}

button {
  cursor: pointer;
  user-select: none;
}
